<div class="col s3"></div>
<main class="col s6 main">
        <div class="row">
        <input placeholder="Nome" type="text" name="name" ng-model="structure.name" />
        <input placeholder="Totale posti" type="number" name="total_seats"
                             ng-model="structure.total_seats">
        <input placeholder="Posti disponibili" type="number" name="available_seats"
                             ng-model="structure.available_seats">
        <input type="hidden" value="{{ user.id}}" name="owner_id"
                                 ng-model="structure.owner_id">
        <fieldset>
            <input placeholder="Numero di Telefono" type="phone" name="phone" ng-model="structure.address.phone" />
            <input placeholder="Via" type="text" name="text" ng-model="structure.address.text" />
            <input placeholder="Codice postale" type="text" name="zip_code" ng-model="structure.address.zip_code" />
            <input placeholder="Città"  type="text" name="city" ng-model="structure.address.city" />
            <input placeholder="Country" type="text" name="country" ng-model="structure.address.country" />
            <input placeholder="Provincia"  type="text" name="state" ng-model="structure.address.state" />
        </fieldset>
          </div>
        <div class="row">
            <button type="button" class="btn right" ng-click="submit()">Aggiungi</button>
        </div>
</main>

