html{
    height: 100%;
}

body {
    height: 100vh;
}

.nav--main{
    background: #3C78D8
}

nav .fa-twitter{
    color: white;
    height: 30px;
    font-size: 22px;
}

.row.row--main{
    height: calc(100vh - 84px);
}

.side {
    border-left:1px solid #AAA;
    background: white;
    height: calc(100vh - 84px);
    overflow-y: scroll;
}

.main {
    background: white;
    height: 100%;
    
}

.card{
    border-top: #27AC24 3px solid
}

.card .s3 i{
    font-size: 100px;
    color: #27AC24
}

.evacuee .card{
    border-top: blue 3px solid
}

.evacuee .s2 i{
    font-size: 100px;
    color: blue;
}

.evacuee .card .s3 i{
    font-size: 80px;
    color: blue
}
