doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    title HOM
    link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
    link(rel='stylesheet', href='/angular-loading-bar/build/loading-bar.css')
    link(rel='stylesheet', href='/ui/app.css')
    script(src='/jquery/dist/jquery.js')
    script(src='/materialize-css/dist/js/materialize.js')
    script(src='/angular/angular.js')
    script(src='/angular-ui-router/release/angular-ui-router.js')
    script(src='/satellizer/dist/satellizer.js')
    script(src='/restangular/dist/restangular.js')
    script(src='/angular-websocket/dist/angular-websocket.js')
    script(src='/angular-loading-bar/build/loading-bar.js')
    script(src='/lodash/lodash.js')
    script(src='/ui/app.js')
  body.blue
