
  .input-field.col.s12
     input(ng-model="username" id="username" type="text" class="validate")
     label(for="username") Username

  .input-field.col.s12
    input(ng-model="password" id="password" type="password" class="validate")
    label(for="password") Password

  a(ng-click="login()" href="#" class="waves-effect waves-blue btn")

